body{
    background-color: antiquewhite;
   
}
.heading{
    text-align: center;
    border: 1px solid;
    border-color: rgb(240, 4, 4)5;
    border-radius: 20px;
    border-width: 2px;
    width: 50%;
    margin-left: 25%;    
}
.contact{
    margin-top: 50px;
    margin-left: 50px;
    background-color: rgb(241, 140, 9);
    border-radius: 20px;

    
}

.contact:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.main button{
    margin-left: 200px;
    width: 250px;

}